* {
  font-family: JetBrains Mono Nerd Font;
  font-size: 13px;
  border: none;
  color: #ffffff;
}
window#waybar {
    background: #1a1a4d; 
    border-radius:5px;
    color: #ffffff;
    transition-duration: 1.5s;
    margin: 15px;

}

window#waybar.hidden {
    opacity: 0.2;
}
tooltip {
    background: #1a1a4d;
    border-radius: 5px;
}
tooltip label {
    color: #ffffff;
}

#workspaces {
  padding-left:15px;
  padding-right:15px;
  color: #ffffff;
  border-right: 2px solid #ccccff;
}
#workspaces button:hover {
  border: 1px solid #99b3e6; 
  color: #ccccff;
  background: transparent;
}
#power-profiles-daemon{
  padding-right:15px;
}
#battery {
  padding-left:15px;
  padding-right:15px;
}
#clock {
  padding-left:15px;
  padding-right:15px;
  border-left: 2px solid #ccccff;
}
#temperature {
  padding-left:15px;
  padding-right:15px;
  border-left: 2px solid #ccccff;
}

#bluetooth {
  padding-left:15px;
  padding-right:15px;
  transition: all 0.3s ease;
  border-right: 1px solid #ccccff;

}
#bluetooth:hover {
  border-radius:5px;
  border: 1px solid #99b3e6; 
  color: #ccccff;
}
#network {
  padding-left:15px;
  padding-right:15px;
  transition: all 0.3s ease;
  border-left: 1px solid #ccccff;
  border-right: 1px solid #ccccff;
}
#network:hover {
  border-radius: 5px;
  border: 1px solid #99b3e6; 
  color: #ccccff;
}
#pulseaudio {
  padding-left:15px;
  padding-right:15px;
  border-left: 1px solid #ccccff;
}
#pulseaudio:hover {
  border-radius:5px;
  border: 1px solid #99b3e6; 
  color: #ccccff;
}

